
body, html{ height: 100%;}

body {
  margin: 0;
  font-size: 20px;
}

/* nav editting starts*/

nav{
  background-color: grey;
  height: 10%;
  padding-left: 1%;
}

.menu_content{
  display: inline;
}

/* nav editting ends*/

/* header editting starts*/

header{
  background-color: pink;
  background-image: url('https://s3-ap-southeast-2.amazonaws.com/koki25ando/andojump1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  height: 85%;
}

#name_introduction{
  text-align: center;
  vertical-align: center;
  font-family: sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  margin:0;
}

/* header editting ends*/

.introduction{
  position: relative;
  display:box;
  float: clear;
  text-align: left;
  background: limegreen;
  width: 80%;
  height:200px;
  clear:both;
  margin: 0 auto;
}

.sentence{
  color: white;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 15px;
  font-weight: bold;
}

.sentence:first-letter{
  font-size: 2em;
}

/* table editting starts*/

.container{
  height:100%;
  background-color: grey;
  margin:0 auto;
  display: table;
  width:100%;
}

.row{
  display: table-row;
}

.box{
  display: table-cell;
}

.first{
  background-color: red;
}

.second{
  background-color: blue;
}

.third{
  background-color: yellow;
}

.forth{
  background-color: purple;
}

/* table editting ends*/
