
body, html{ height: 100%;}

body {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

/* nav editting starts*/

nav {
  background-color: #333;
  height: 10%;
  padding-left: 1%;
  color: white;
}

#nav_title {
float:left;
width: 15%;
height:100%;
vertical-align: middle;
position: relative;
}

nav a{
  position:relative;
  top: 30%;
}

.nav_content{
  font-size: 1.5em;
  font-weight: bold;
}

.nav_content:hover{
  cursor: pointer;
  color: red;
  opacity:.6;
}

#menu {
  float: right;
  width:10%;
  height:100%;
  margin-right: 1%;
  position: relative;
  display: inline-block;
}

#menu:hover{
  background: red;
  color: black;
  cursor: pointer;
}

/* nav editting ends*/

/* header editting starts*/

header{
  background-image: url('https://s3-ap-southeast-2.amazonaws.com/koki25ando/andojump1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  height: 85%;
}

#name_introduction{
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  letter-spacing: 5px;
  font-weight: bold;
  margin: 0;
}

/* header editting ends*/

.introduction{
  position: relative;
  display:box;
  float: clear;
  text-align: left;
  background: grey;
  width: 70%;
  height: 30%;
  clear:both;
  margin: 0 auto;
}

.sentence{
  color: white;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 15px;
  font-weight: bold;
}

.sentence:first-letter{
  font-size: 2em;
}

/* table editting starts*/

.container{
  height:100%;
  background-color: grey;
  margin:0 auto;
  display: table;
  width:90%;
}

.row{
  display: table-row;
}

.box{
  display: table-cell;
}

.first{
  background-color: red;
}

.second{
  background-color: blue;
}

.third{
  background-color: yellow;
}

.forth{
  background-color: purple;
}

/* table editting ends*/

/* footer editting starts*/

footer{
  height: 10%;
}

.follow-me{
  display: inline;
}

.follow-me li {
  display: inline;
  font-size: 2em;
  margin-right: 1%;
  margin-left: 1%;
}

.follow-me li:hover{
  opacity: .5;
}
/* footer editting ends*/
